@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
	body {
		font-family: 'Urbanist Variable', sans-serif;
		color: #eee;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		@apply leading-none font-bold tracking-tight text-slate-300;
	}

	h1 {
		@apply text-7xl md:text-9xl;
	}

	h2 {
		@apply text-6xl md:text-8xl;
	}

	h3 {
		@apply text-5xl md:text-6xl;
	}

	h4 {
		@apply text-4xl md:text-5xl;
	}

	h5 {
		@apply text-3xl md:text-4xl;
	}

	h6 {
		@apply text-2xl md:text-3xl;
	}
}

@layer components {
	.background-gradient {
		background: radial-gradient(
			circle at top center,
			hsla(222, 80%, 60%, 0.5) 0%,
			hsla(222, 0%, 0%, 0) 50%,
			hsla(222, 0%, 0%, 0) 100%
		);
	}
}
